@import url("./assets/fonts/monserrat/stylesheet.css");
@import url("./assets/fonts/roboto/stylesheet.css");
@import url("./assets/fonts/raleway/stylesheet.css");
@import url("./assets/fonts/gothic/stylesheet.css");
@import url("./assets/fonts/lato/stylesheet.css");

.App {
  background-color: #fff;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
  font-family: "Roboto";
  font-weight: 500;
  color: #000;
}

.headline {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.subtitle {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 700;
}

.smalltext-1 {
  font-family: "Raleway";
  font-weight: 500;
  color: rgb(99, 99, 99);
  opacity: 50%;
}

.title-1 {
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Raleway";
  font-weight: bold;
}

.css-3pxmmn {
  z-index: 99999 !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
