.list {
  .body {
    min-height: 90%;
    padding: 100px 20px;

    .searchbarCustom {
      border-radius: 20px;
      position: fixed;
      top: 30px;
      z-index: 99;
      width: 90%;
    }
    .list-group {
      .list-group-item {
        margin: 10px 0;
        border-radius: 10px;
        background-color: #7c87c1;
        color: #fff;
        border: none;
        box-shadow: 3px 5px 6px #ccc;
        .item-p {
          color: #fff !important;
        }
      }
    }
    .filter {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .filtertext{
        margin-right: 5px !important;
        font-family: 'Roboto';
      }
    }
  }
}

.updateBtn{
  float: right;
  height: 40px;
  width: 42px;
  border-radius: 100% !important;
  background-color: #3f51b5 !important;
  border: none !important;
}

.deleteBtn{
  float: right;
  height: 40px;
  width: 42px;
  border-radius: 100% !important;
  background-color: #df4b4b !important;
  border: none !important;
  margin-right: 8px;
}

.radio-btn {
  margin: 20px 0;
}

.apply-btn {
  float: right;
  border: none !important;
  background-color: #3f51b5 !important;
}

.detailDrawer {
  outline: none;
  background: white;
  width: 76rem;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 15;
  min-height: 200px;
  margin: 0 20px;
  padding: 20px;
  will-change: transform;
  transform: translate3d(0, 0, 0);
}

@media (max-width: 768px) {
  .addDrawer {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    border-radius: 8px;
  }
  .detailDrawer {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    border-radius: 8px;
  }
}
