.home {
  height: 100%;
  // background: url('../../assets/imgs/bg-1.svg');
  .header {
    padding: 10px;
  }

  .body {
    min-height: 90%;
    padding: 20px;

    .container-1 {
      display: flex;
      .img-1 {
        height: 100px;
        width: 64px;
        border-radius: 30px;
      }

      .group {
        margin-left: 10px;
        justify-content: center;
        padding-top: 20px;
      }
    }

    .card-1 {
      padding: 15px;
      margin: 30px 0;
      border-radius: 15px;
      background: #f0af9a;
      display: flex;
      box-shadow: 0px 0px 20px 0px #ccc;

      .cardleft {
        width: 90%;
        .cardtext-1 {
          font-size: 14px;
          font-family: "Lato";
          font-weight: 400;
        }

        .cardtext-2 {
          font-size: 32px;
          font-family: "Lato";
          font-weight: 700;
        }
      }

      .cardright {
        .cardimg-1 {
          height: 70px;
        }
      }
    }

    .subtitle-1 {
      font-family: "Raleway";
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 900;
    }

    .pagination-btn {
      text-align: center;
      margin: 5px;
      .btn {
        margin: 5px;
        border-radius: 100%;
        height: 60px;
        width: 60px;
        background-color: #f0af9a;
        border: none;
        box-shadow: 0px 4px 8px 0px #ccc;
      }
    }
  }
}

.listgroupitem {
  border: 2px solid #3f51b5 !important;
  border-left: 20px solid #3f51b5!important;
  border-radius: 10px !important;
  margin: 10px 0;

  .listitemtext-1 {
    font-family: "Lato";
    font-size: 16px;
    font-weight: 500;
  }
}
