.fabStyles {
  position: fixed !important;
  height: 80px !important;
  width: 80px !important;
  bottom: -30px;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 1px 6px rgb(234, 234, 234) !important;
}

.navbar {
  height: 70px;
  border-radius: 30px 30px 0 0;
  background-color: rgb(255, 255, 255) !important;
  opacity: 95%;
  -webkit-opacity: 0.95;
  box-shadow: 0px 5px 20px 10px #eaeaeabd;
  padding: 0 !important;
  .row {
    width: 100% !important;
    margin: 0;
    .col {
      padding: 0 !important;
    }
  }
}

.btn-submit {
  background-color: #3f51b5;
  height: 40px;
  width: 42px;
  border-radius: 100%;
  float: right;
  border: none;
}

.activeNav {
  color: #7c87c1;
}

.addDrawer {
  outline: none;
  background: white;
  width: 76rem;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 15;
  min-height: 200px;
  margin: 0 20px;
  padding: 20px;
  will-change: transform;
  transform: translate3d(0, 0, 0);
}

@media (max-width: 768px) {
  .addDrawer {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    border-radius: 8px;
  }
}
